# --- CONTENT ---
/content                                                 @DGEXSolutions/pm-team

# --- CI ---
/.github                                                 @flomonster @multun @nicolaswurtz
