+++
title = "OSRD"
linkTitle = "OSRD"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="black" >}}
<img class="main-logo" src="/logos/logo_white.svg">
<h2 class="mb-5 font-weight-normal main-title">Open Source Railway Designer</h2>
<div class="mx-auto mt-3">
	<a class="btn btn-lg btn-primary mx-2 mb-4" href="{{< relref "/about" >}}">
		À propos <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mx-2 mb-4" href="https://github.com/osrd-project/osrd">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Une application web, open source, de conception d'infrastructure ferroviaire, d'horaires, d'analyse de capacité et bien plus !
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="row justify-content-center" >}}

{{% blocks/feature icon="fa-solid fa-toolbox" title="Conception ferroviaire" %}}
Modifiez l’infrastructure ferroviaire et les grilles horaires
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-microscope" title="Analyse de capacité" %}}
Détectez les conflits et visualisez la capacité
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-drafting-compass" title="Planning court-terme" %}}
Ajoutez automatiquement de nouveaux trains dans une grille existante
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" type="row justify-content-center" >}}

{{% blocks/feature icon="fab fa-github" title="Développement Open source" url="./about/opensource/" %}}
Tout le monde peut utiliser, redistribuer et développer OSRD
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-university" title="Gouvernance ouverte" url="./about/governance/" %}}
OSRD est conçu de manière partagée et publique, les décisions sont prises collégialement
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-exchange-alt" title="Conçu pour l'interopérabilité" %}}
Faites vos simulations à l’aide de formats d'infrastructure et de systèmes de signalisation propriétaires
{{% /blocks/feature %}}

{{< /blocks/section >}}


<section class="video-section">
<video controls>
  <source src="video.fr.webm" type="video/webm">
</video>
</section>

<section>
<h2 class="text-center">Sponsors</h2>
<p align="center">
  <img src="/sponsors/france-dot.svg" width="180px" height="180px" alt="Ministère chargé des Transports"/>
  <img src="/sponsors/european-union.svg" width="180px" height="180px" alt="European Union"/>
  <img src="/sponsors/sncf-reseau.svg" width="180px" height="180px" alt="SNCF Réseau"/>
</p>
</section>
