+++
title = "OSRD"
linkTitle = "OSRD"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}
<img class="mb-4" src="white-logo.png" width="200">
<h2 class="mb-5">Open Source Railway Designer</h2>
<div class="mx-auto mt-3">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/who-we-are" >}}">
		Qui sommes-nous <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/DGEXSolutions/osrd">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<video controls>
	<source src="video.fr.webm" type="video/webm">
</video>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-linkedin" title="Suivez-nous sur LinkedIn !" url="https://www.linkedin.com/company/dgex-solutions/"%}}
Venez échanger avec toute l'équipe et découvrir le monde des études d'exploitation chez SNCF Réseau.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Venez contribuer !" url="https://github.com/DGEXSolutions/osrd" %}}
Les contributeurs sont toujours les bienvenus, notre démarche est 100% **open-source**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Suivez-nous sur Twitter !" url="https://twitter.com/dgexsolutions" %}}
Et tenez-vous au courant des dernières nouveautés, participations et développements.
{{% /blocks/feature %}}

{{< /blocks/section >}}
