+++
title = "OSRD"
linkTitle = "OSRD"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}
<img class="mb-4" src="white-logo.png" width="200">
<h2 class="mb-5">Open Source Railway Designer</h2>
<div class="mx-auto mt-3">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/DGEXSolutions/osrd">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
An open source web application for railway infrastructure design, capacity analysis, timetabling, and more
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="justify-content-center" >}}

{{% blocks/feature icon="fa-solid fa-toolbox" title="Railway design" %}}
Design railway infrastructure and timetables
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-microscope" title="Capacity Analysis" %}}
Detect conflicts and visualize capacity
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-drafting-compass" title="Short-term planning" %}}
Automatically add new trains to an existing timetable
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" type="justify-content-center" >}}

{{% blocks/feature icon="fab fa-github" title="Open source development" url="./about/opensource/" %}}
Anyone can use, develop and distribute OSRD
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-university" title="Open governance" url="./about/governance/" %}}
OSRD is publicly designed, and decisions taken collectively
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-exchange-alt" title="Designed for interoperability" %}}
Make custom infrastructure formats and signaling systems work together
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section type="justify-content-center" >}}
<video controls>
	<source src="video.en.webm" type="video/webm">
</video>
{{< /blocks/section >}}
