---
title: Projets / Solutions
linkTitle: Projets/solutions
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Projets / Solutions" image_anchor="bottom" height="min" >}}

<div class="mx-auto mt-5">
	<a class="btn btn-lg btn-success mr-3 mb-4" href="#horaires-strategiques">
		Horaires stratégiques
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="#etudes-exploitation">
		Études d'exploitation
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="#gestion-infrastructure">
		Gestion d'infrastructure
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#sdm">
		Sillon de dernière minute
	</a>
</div>

{{< /blocks/cover >}}

{{% blocks/section color="success" %}}
<div id="horaires-strategiques" class="col-12">
  <h1 class="text-center">Horaires Stratégiques</h1>
</div>
{{% /blocks/section %}}


{{% blocks/section color="warning" %}}
<div id="etudes-exploitation" class="col-12">
  <h1 class="text-center">Études d'exploitation</h1>
</div>
{{% /blocks/section %}}


{{% blocks/section color="primary" %}}
<div id="gestion-infrastructure" class="col-12">
  <h1 class="text-center">Gestion d'infrastructure</h1>
</div>
{{% /blocks/section %}}


{{% blocks/section color="secondary" %}}
<div id="sdm" class="col-12">
  <h1 class="text-center">Sillon de dernière minute</h1>
</div>
{{% /blocks/section %}}
