{{ $data := index site.Data.carousel site.Language.Lang }}

  <div id="osrd-carousel" class="carousel slide mx-auto">

    <div class="carousel-inner text-center">

      {{ range $index, $item := $data }}

      <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
        <img
        src="{{ $item.img }}"
        alt="{{ $item.legend }}"
        >
        <legend>{{ $item.legend }}</legend>
      </div>
      {{ end }}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#osrd-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#osrd-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

