name: Check code quality

on:
  pull_request:

jobs:
  check_commits:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history for all branches and tags

    - name: Check commit names
      run: |
        # We don't have a base ref to check against if we aren't in a
        # pull_request workflow.
        BASE=${{ github.base_ref }}
        if [[ -z "$BASE" ]]; then
          exit 0
        fi

        commit_titles() {
          git log --format=%s origin/"$BASE"..HEAD --skip=1
        }

        commit_titles | TERM=xterm-color .github/scripts/check-commit-titles.sh

  check_reuse_compliance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v4
